.mainPage{
   font-weight: 700;
   .title{
      text-align: center;
      margin: 25px;
      h1{
         color: #E59C9C;
         font-size: 60px;
      }
      h3{
         font-size: 30px;
         color: white;
      }
   }
   .list{
      margin:auto;
      margin-bottom: 100px;
      width: 1200px;
      left: 345px;
      top: 364px;
      background: #FFFFFF;
      border-radius: 20px;
      display: block;
      justify-content: center;
   }
}